[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
env = "*"
mysql-connector-python = "*"
search-engine-parser = "*"
google-api-python-client = "*"
python-dotenv = "*"
requests-html = "*"
selenium = "*"
webdriver-manager = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.8"