<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - Search Engine </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet" >
    <style>
        .message {
            padding: 10px;
            margin: 5px;
            background-color: #f3f3f3
        }
        nav a {
            color: #1246b6;
            font-size: 2em;
            margin-left: 50px;
            text-decoration: none;
        }

    </style>
</head>
<body>
    <nav class="nav">
        <a href="{{ url_for('index.root') }}">Search Engine</a>
        <a href="{{ url_for('index.about') }}">About</a>

    </nav>
    <hr>
    <div class="content">
        {% block cc %} {% endblock %}
    </div>
 <div class="search">
        {% block content %} {% endblock %}
    </div>
{% block about %} {% endblock %}
</body>
</html>