{% extends "base.html" %}

{% block content %}
    <style>
    .section {
        padding: 10px;
        margin: 5px;
        background-color: #f3f3f3;
         text-align: center;
    }
    .title {
        text-align: center;
    }

</style>
<h1 class="title">Search</h1>
<section class="section">
    <form action="/search" method="post" novalidate>
        {{ form.hidden_tag() }}
        <p>
        <div class="field">
            {{ form.searchbox.label(class_="label") }}
            {{ form.searchbox(size=32, class_="input is-link") }}
        </div>
        </p>

        <p>{{ form.submit(class_="button is-link") }}</p>
    </form>
</section>
    <h2>Query : {{ query }}</h2>
    {% if data %}
        <p>{{ data }}</p>
    {% endif %}
{% endblock %}


