{% extends "base.html" %}

{% block content %}
    <style>
    .section {
        padding: 10px;
        margin: 5px;
        background-color: #f3f3f3;
         text-align: center;
    }
    .title {
        text-align: center;
    }
    .alert{
        text-align: center;
    }
    .center{display: block;
      margin-left: auto;
      margin-right: auto;
      width: 50%;
    }
    .link{
        text-decoration: none;
    }
    #loading {
    width: 35px;
    height: 35px;
    display: none;
    cursor: wait;
    }


</style>

<section class="section">
    <img class="" src="../static/bird.png" alt="Bird" height="200">
    <h1 class="title">HummingBird</h1>
    <form action="/all" method="post" novalidate >
        {{ form.hidden_tag() }}
        <p>
        <div class="field">
            {{ form.searchbox.label(class_="label") }}
              {{ form.searchbox.label(class_="label") }}
            {{ form.searchbox(size=32, class_="input is-link") }}
            {{ form.result(class_="input is-link form-select") }}
           {{ form.type_res.label(class_="label") }}
           {{ form.type_res(class_="form-select") }}
        </div>
        </p>

        <p>{{ form.submit(class_="button is-link bt-loader") }}</p>
    </div>

</div>
    </form>


  <span class="sr-only"></span>
</section>


    {% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <h1 class="alert alert-danger alert-dismissable">{{ message }}</h1>
    {% endfor %}


  {% endif %}
{% endwith %}

    {% if valid_form %}
    <div class="container results">
        <h2>Query : {{ query }}</h2>
        <table class="table">
          <thead>
    <tr>
      <th scope="col">URL</th>
      <th scope="col">Freq</th>
      <th scope="col">Type</th>
    </tr>
  </thead>
            <tbody>
            {% if data %}
         {% for res in data %}
    <tr>

          <td>
              <a href="{{ res[0] }}" target="_blank" class="link-secondary text-decoration-none">{{ res[0] }}</a>
          </td>
          <td>{{ res[2] }}</td>
          <td>{{ res[3] }}</td>
    </tr>
                   {% endfor %}
     {% endif %}
             </tbody>

        </table>




     </div>
    </div>
     {% endif %}
{% endblock %}


